* {
  margin:0;
  padding: 0;

  }


.f-open {
    font-family: 'Open Sans', sans-serif;
  }
  
  .white {
    color:white;
  }
  
  .main-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(123, 216, 150);
    /*background-image: url("../images/fondo3.png");*/
    position: absolute;
    background-size:auto;
  }
    
  
  .content {
    width: 50%;
    border: 10px solid white;
    margin: auto;
    font-size: 50px;
    line-height:  50px;
    background-color: rgb(236, 145, 190);

  }
  
  .logo {
    background-color: rgb(206, 43, 124);
    text-align: center;
    font-size: 6vh ;

  }

  .slogan {
    font-size: 4vh ;
  }
  .welcome {
    background-color: rgb(89, 172, 7);
    text-align: center;
    font-size: 5vh;
  }

  .button-Sign {
    width: 14vw;
    height: 6vh;
    background: #0caa39;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    
  }

  .button-SignUp {
    width: 14vw;
    height: 6vh;
    background: #0caa39;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
  }

  .footer {
    background-color: rgb(116, 223, 86);
    position: absolute;
    bottom: 0;

  }


  
  /*
  .content .title {
    /*align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px rgb(41, 41, 41);
    padding: 8px;*/
 /* }
  
  
  .content .sub-title {
    align-self: center;
    font-size:1rem;
    color:white;
    text-align: center;
    padding: 10px;
  }