* {
  margin:0;
  padding: 0;
  font-size: 18px;
}

h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 1.5em;
}

h4 {
  font-family: 'Lobster Two', cursive;
  font-size: 1.2em;
}

h5 {
    font-family: 'Arbutus Slab', serif;
    font-size: 0.8em;
}
/*font-family: 'Arbutus Slab', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Muli', sans-serif;*/


  /*//////////HOME*/
  
  .main-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/fondo5.jpg");
    position: absolute;
    background-size:auto;
  }
    
  .content {
    width: 50%;
    height: 80%;
    border: 3px solid rgb(38, 212, 53);
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgb(206, 43, 124);
  }

  .plantlover {
    /*background-color: indianred;*/
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .logo {
    background-color: rgb(206, 43, 124);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  }

  .logo img{
    width: 100%;
  }

  .slogan {
    padding-top: 10%;
    padding-bottom: 2%;
  }
  .welcome {
    /*background-color: rgb(89, 172, 7);*/
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
   
  }

  .buttons {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
  }

  .button-Sign {
    width: 60%;
    height: 100%;;
    background: #10c325;
    border-radius: 30%;
  }

  .button-SignUp {
    width: 60%;
    height: 100%;;
    background: #10c325;
    border-radius: 30%;
  }

  a {
    font-family: 'Arbutus Slab', serif;
    text-decoration: none;
    font-size: 0.6em;
    color: rgb(0, 0, 0);
  }

  .footer {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(116, 223, 86);
    position: absolute;
    bottom: 0;

  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px){
  
  .logo img{
    width: 80%;
  }

  h2 {
    font-size: 4em;
  }
  
  h3 {
    font-size: 3em;
  }
  
  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.4em;
    text-align: right;
  }

  a {
    font-size: 1.3em;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px){
  .logo img{
    width: 30%;
  }
  .slogan {
    padding-top: 1%;
    padding-bottom: 0%;
    
  }

  h2 {
    font-size: 3.8em;
  }
  
  h3 {
    font-size: 2.2em;
  }
  
  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  a {
    font-size: 1.0em;
  }

  .welcome {
    /*background-color: rgb(89, 172, 7);*/
    padding-top: 2%;
    padding-bottom: 10%;
    text-align: center;
  }
  .button-Sign {
    width: 35%;
    height: 140%;;
    border-radius: 30%;
  }

  .button-SignUp {
    width: 35%;
    height: 140%;;
    border-radius: 30%;
  }

}

/*/////*Pagina Sign In*/

.signin-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/fondo5.jpg");
    position: absolute;
    background-size:auto;
  }

  .content-sin {
    width: 65%;
    height: 60%;
    border: 3px solid rgb(38, 212, 53);
    margin-top: 10%;
    margin-left: 18%;
    background-color: rgb(206, 43, 124);
  }

  .text-logo {
    padding-top: 10%;

  }
  .logo2 {
    background-color: rgb(206, 43, 124);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  }

  .logo2 img{
    width: 48%;
  }

  .signInForm{
    padding-top: 10%;
    text-align: center;
    font-family: 'Arbutus Slab', serif;
  }

input {
  font-family: 'Muli', sans-serif
  
  }

  .button-Sign-profile {
    padding-top: 0%;
    margin-top: 5%;
    width: 60%;
    height: 40%;
    background: #10c325;
    border-radius: 30%;

  }

@media only screen and (min-width: 401px) and (max-width: 960px){

  .signInForm{
    margin-top: 15%;
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
  }
  .button-Sign-profile {
    width: 60%;
    height: 60%;
    font-family: 'Arbutus Slab', serif;
  }

}
 
@media only screen and (min-width: 961px){

  .content-sin {
    width: 50%;
    height: 60%;
    border: 3px solid rgb(38, 212, 53);
    margin-top: 10%;
    margin-left: 23%;
    background-color: rgb(206, 43, 124);
  }

  h2 {
    font-size: 3em;
  }
  
  
  .logo2 img{
    width: 20%;
  }

  .text-logo {
    padding-top: 2%;

  }

  .button-Sign-profile {
    width: 30%;
    height: 80%;
    font-family: 'Arbutus Slab', serif;
  }


}


/*//////Sign up profile*/
.signup-container {
  width: 100vw;
    height: 100vh;
    background-image: url("../images/fondo5.jpg");
    position: absolute;
    background-size:auto;

}

.content-sip {
  width: 65%;
  height: 70%;
  border: 3px solid rgb(38, 212, 53);
  margin-top: 10%;
  margin-left: 12%;
  background-color: rgb(206, 43, 124);

}

.signUpForm {
  padding-top: 10%;
    text-align: center;
    font-family: 'Arbutus Slab', serif;
  }

input {
  font-family: 'Muli', sans-serif
  
  }

  .button-Signup-profile {
    margin-top: 5%;
    width: 60%;
    height: 40%;
    background: #10c325;
    border-radius: 30%;
    font-family: 'Arbutus Slab', serif;
  }

  @media only screen and (min-width: 401px) and (max-width: 960px){

    .signUpForm{
      margin-top: 1%;
      padding-top: 5%;
      padding-left: 30%;
      padding-right: 30%;
    }
    .button-Signup-profile {
       margin-top: 15%;
       width: 60%;
       height: 60%;
    }
   
  }

  @media only screen and (min-width: 961px){

    .content-sip {
      width: 50%;
      height: 65%;
      margin-top: 10%;
      margin-left: 23%;
    }

    h2 {
      font-size: 3em;
    }
    
    .signUpForm{
      margin-top: 1%;
      padding-top: 2%;
      padding-left: 10%;
      padding-right: 10%;
    }
    .button-Signup-profile {
       margin-top: 5%;
       width: 20%;
       height: 100%;
    }

  }